{% extends "django_sb_admin/base.html" %}
{% block title %}Esterilización Remota{% endblock %}
{% block sb_admin_header_url %}{% endblock sb_admin_header_url %}
{% block sb_admin_header %}

<a href="{%url 'pagina_inicio'%}">Esterilización Remota</a>

{% endblock sb_admin_header %}
{% block sb_admin_title %} Esterilizacion Remota {% endblock sb_admin_title %}
{% block sb_admin_breadcrumb %}{% endblock sb_admin_breadcrumb %}
{% block sb_admin_navbar_right %}{% endblock sb_admin_navbar_right %}


{% block sb_admin_content %}
<div class="alert alert-secondary alert-dismissable show">

    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    
    <i class="fa fa-info-circle"></i>  <strong>Aplicación en Desarrollo</strong> . <code> EsterilizaciónRemota </code> .
  </div>

  <!--
    <h2 class="page-header">Telemedicina</h2>
  -->
  
  <p class="lead">

    <details>          
        <summary>
            <h4> Traceability in sterilization  </h4>
            <br>
            In short, the purpose of traceability is to achieve quality control and certification that each instrument used has been disinfected and sterilized and is in perfect condition for use. The aim is to achieve a high level of protection for our patient.
        </summary>
        <p>
            <br>
            There are two ways to carry out traceability. We can do it manually or by computer.

            The manual way is the simplest and most economical. The date and the corresponding sterilization cycle should be written on each pouch. This is the slowest system, and will gradually become obsolete. Another drawback is the physical space occupied for filing the records. Gradually, dental practices have adapted their patient records to computer systems that eliminate paper. Each piece of information on the pouches can be noted by hand on the patient’s record, but this is time-consuming and can be done using computerised systems.
            
            Computerised traceability is the ideal mechanism, because it is much quicker and requires less physical space.
            
            To do this, the first thing we need is a suitable computer program to process the data. This program can send all the data we have collected to our patient’s record. These programs integrate these data with the patient management program we have in our practice to file both complete data of the procedure performed on the patient and detailed information on the entire process the instrument has undergone until it is used. Secondly, we need our equipment to give us a series of records. Some B-type autoclaves have an SD card or USB or labelling systems for this purpose. Other devices, such as sealing machines or the latest generation of thermodisinfectors, also have recording systems for efficient, easy traceability. The collected data can be transferred to the program using a label reader, as well as manually or via LAN or WiFi.
            </p>    
    </details>

  </p>
  <h5>Uso de la aplicación</h5>
  <ul>
    <li><a href="/revisar/">Monitorizar esterilizador</a> para obtener los valores historicos e instantanios de las variables del paciente </li>
    <!--
    <li><a href="/simulador">Simulador</a> para modificar el valor actual de la saturación de oxígeno del paciente </li>
    -->
    <li><a href="/admin/">Gestionar esterilizador</a> para añadir un nuevo paciente</li>
  </ul>
{% endblock sb_admin_content %}


{% block sb_admin_sidebar %}
<li class="nav-item active">
    <a class="nav-link" href="/revisar/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Monitorizar esterilizador</span>
    </a>
    <!--
    <li class="nav-item">
      <a class="nav-link" href="/simulador">
        <i class="fas fa-fw fa-table"></i>
        <span>Simulador de lectura de datos</span></a>
    </li>
    -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/">
        <i class="fas fa-fw fa-table"></i>
        <span>Gestionar esterilizador</span></a>
    </li>
  
  <!--
  <li class="nav-item dropdown">  
    <li class="nav-item">
      <a class="nav-link" href="/admin/" ></a>
        <a class="nav-link dropdown-toggle" href="/admin/" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
      <i class="fas fa-fw fa-table"></i>
        <span>Gestionar esterilizador</span>
      </a>
    </li>
  -->
</li>


{% endblock sb_admin_sidebar %}


{% block sb_admin_copyright %}Derechos reservados © EsterilizacionRemota 2024{% endblock sb_admin_copyright %}







